body{
  width: 100%;
  max-width: 1205px;
  padding: 52px 42px;
}



header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
  color: #ffff00;
}

button{
  padding: 20px 40px;
  justify-content: space-between;
  display: flex;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  
}

.section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.kavadrats{
  width: 300px;
  height: 300px;
  background-color: #1FC2AE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  
  
}

.text-Kvadrata{
  font-size: 56px;
}


footer{
  margin-top: 57px;
}

.last-button,
.text-input{
  margin-bottom: 25px;
}

.text-input{
  padding: 10px 15px;
  border-radius: 6px;
  border: #E5E7EB 1px solid;
  
}